.app {
  padding: 2.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  max-width: 65rem;
  margin: 0 auto;
}

.banner-form-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.extrato {
    border-radius: 0.5rem;
    background: var(--fundo-cinza-claro, #F5F5F5);
    padding: 2rem 1.5rem;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.titulo {
    font-size: 1.5625rem;
    font-weight: 600;
    line-height: 125%;
}

.transacoes {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
